/* ==========================================
          NUEVA CONTRASEÑA
========================================== */

.new-password-screen{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px 24px;

    background:var(--white);

}

.new-password-container{

    width:100%;
    max-width:430px;

    animation:fadeUp .8s ease;

}

/* Volver */

.back-btn{

    width:44px;
    height:44px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    background:#F5F5F5;

    color:var(--dark);

    text-decoration:none;

    margin-bottom:30px;

}

.back-btn:hover{

    background:#ECECEC;

}

/* Logo */

.new-password-logo{

    width:90px;

    display:block;

    margin:0 auto 25px;

}

/* Texto */

.new-password-container h1{

    text-align:center;

    font-size:2rem;

    margin-bottom:12px;

    color:var(--dark);

}

.new-password-container p{

    text-align:center;

    color:var(--secondary);

    margin-bottom:35px;

    line-height:1.6;

}

/* Inputs */

.input-group{

    margin-bottom:22px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

}

.password-box{

    position:relative;

}

.password-box input{

    width:100%;

    height:56px;

    padding:0 18px;

    padding-right:50px;

    border:1px solid #D9D9D9;

    border-radius:16px;

    outline:none;

    font-size:1rem;

}

.password-box input:focus{

    border-color:var(--primary);

    box-shadow:0 0 0 4px rgba(227,6,19,.12);

}

.password-box i{

    position:absolute;

    right:18px;

    top:50%;

    transform:translateY(-50%);

    cursor:pointer;

    color:#9E9E9E;

}

/* Botón */

.save-btn{

    width:100%;

    height:56px;

    border:none;

    border-radius:16px;

    background:var(--primary);

    color:#fff;

    font-size:1rem;

    font-weight:600;

    cursor:pointer;

    margin-top:10px;

    transition:.3s;

    box-shadow:var(--shadow);

}

.save-btn:hover{

    transform:translateY(-2px);

}

@keyframes fadeUp{

    from{

        opacity:0;
        transform:translateY(20px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}
.save-btn{

    width:100%;
    height:56px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:var(--primary);

    color:#fff;

    text-decoration:none;

    border-radius:16px;

    font-size:1rem;
    font-weight:600;

    margin-top:10px;

    box-shadow:var(--shadow);

    transition:.3s;

}

.save-btn:hover{

    transform:translateY(-2px);

}